@model Clan
@{
    ViewBag.Title = $"Delete {Model.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 text-light">

    <h1 class="mb-4 fw-bold text-danger">
        Are you sure you want to delete @Model.Name ?
    </h1>

    <form asp-action="DeleteConf" method="post" class="card bg-black border-danger shadow p-4">

        <input type="hidden" name="id" asp-for="ClanId" />

        <div class="mb-3">
            <input type="submit" value="Delete" class="btn btn-danger fw-bold px-4" />
            <a asp-action="Index" class="btn btn-outline-info text-info ms-2 px-4">Back to List</a>
        </div>

    </form>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
