@model TipCalculatorModel
@{
    Layout = "_Layout";
}

<h1 style="color:blue;">Tip Calculator</h1>
<form asp-action="Index" method="post">
    <div asp-validation-summary="All"></div>
    <div class="row">
        <label asp-for="CostOfMeal">Cost of meal:</label>
        <input asp-for="CostOfMeal" />
    </div>
    <div class="row">
        <label>15% Tip:</label>
        <label>@ViewBag.fifteen.ToString("C")</label>
    </div>
    <div class="row">
        <label>20% Tip:</label>
        <label>@ViewBag.twenty.ToString("C")</label>
    </div>
    <div class="row">
        <label>25% Tip:</label>
        <label>@ViewBag.twentyFive.ToString("C")</label>
    </div>
    <button type="submit">Calculate</button>
    <a asp-action="Index">Clear</a>
</form>

