@{
    ViewData["Title"] = "Credit Page";
}
<h1>@ViewData["Title"]</h1>

<p>Home page background video: "Io Ambience/Scenery| Destiny 2" by Sir Entity</p>

<p>Home page derived from: https://startbootstrap.com/theme/coming-soon</p>


