@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container mt-4">
        <h1 class="display-4">Welcome to Summit</h1>
        <p>Summit is a Destiny 2 Clan Management System where players can join clans, manage quests, and view player stats.</p>

        <h2>Features</h2>
        <p>Clan admins can manage rosters, schedule events, and promote members. Clan members can view stats, loadouts, and completed quests.</p>

        <img src="~/images/raid.svg" class="img-fluid" alt="Summit Logo" />
    </div>
</div>
