@using TripLog2.Models.DomainModels
@model IEnumerable<Activity>

@{
	ViewBag.Title = "Manage Activities";
}

<h2>Manage Activities</h2>

<div class="m-2">
	<a asp-action="Add" class="btn btn-secondary">Add Activity</a>
</div>

<form asp-action="Delete">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (Activity act in Model)
			{
				<tr>
					<td>@act.Name</td>
					<td>
						<button type="submit" name="id" value="@act.ActivityId"
								class="btn btn-primary">
							Delete
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
</form>