<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Summit</title>

    <!--original imports-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SummitV2.styles.css" asp-append-version="true" />

    @RenderSection("HeadContent", required: false)



</head>
<body class="bg-dark text-light">

    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-black border-bottom border-info shadow">
            <div class="container-fluid">
                <a class="navbar-brand text-info fw-bold text-uppercase" asp-area="" asp-controller="Home" asp-action="Index" style="letter-spacing:2px;">Summit</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-info fw-semibold" asp-area="" asp-controller="Clan" asp-action="Index">Clans</a>
                        </li>
                        @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-info fw-semibold" asp-area="" asp-controller="Event" asp-action="Index">Manage Events</a>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-info fw-semibold" asp-area="Admin" asp-controller="User" asp-action="Index">Manage Users</a>
                            </li>
                        }
                        @if (User.IsInRole("ClanOwner"))
                        {
                            <li class="nav-item">
                                <form asp-controller="Clan"
                                      asp-action="MyClan"
                                      method="post"
                                      class="nav-link text-info fw-semibold">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="nav-link btn btn-link text-info fw-semibold p-0">
                                        My Clan
                                    </button>
                                </form>
                            </li>
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid mt-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top border-info footer text-muted bg-black text-center py-3 mt-4">
        <div class="container text-light">
            &copy; 2025 - Summit - <a asp-controller="Home" asp-action="Credits" class="text-info">Credits</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
