@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-info fw-bold"
               asp-area="Identity"
               asp-page="/Account/Manage/Index"
               title="Manage">
                Hello @User.Identity?.Name!
            </a>
        </li>

        <li class="nav-item">
            <form method="post"
                  class="d-inline"
                  asp-area="Identity"
                  asp-page="/Account/Logout"
                  asp-route-returnUrl="/">
                <button type="submit"
                        class="btn btn-link nav-link text-info fw-bold p-0"
                        style="text-decoration:none;">
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-info fw-bold"
               asp-area="Identity"
               asp-page="/Account/Register">
                Register
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-info fw-bold"
               href="/auth/login">
                Login with Bungie
            </a>

        </li>
    }
</ul>
