@{
    ViewData["Title"] = "Tutorial Page 3";
}

@section header {
    <h1>Tutorial - Page 3</h1>
}

<p>Here's the third thing you need to know about my website.</p>

<a asp-area="Help" asp-controller="Tutorial" asp-action="Page2" class="btn btn-secondary">Prev</a>
