/* video */
.bg-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.masthead-overlay {
    position: relative;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75); 
    clip-path: polygon(0 0, 60% 0, 50% 100%, 0% 100%);
    display: flex;
    align-items: center;
    padding-left: 3rem; 
    padding-right: 3rem;
}

    .masthead-overlay h1,
    .masthead-overlay p {
        max-width: 600px;
    }



.masthead-title {
    color: black;
    -webkit-text-stroke: 2px #0d6efd;
    text-stroke: 2px #0d6efd;
    font-size: 4rem;
}

.masthead-desc {
    font-size: 1.25rem;
    max-width: 600px
}
