html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar .nav-link.active {
    font-weight: 600;
    color: #0dcaf0 !important;
    border-bottom: 2px solid #0dcaf0;
    border-radius: 0;
}

.navbar .nav-link:hover {
    color: #0dcaf0;
}