@model Clan

@{
	ViewBag.Title = $"{ViewBag.Operation} Clan";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Operation Clan</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="AddEdit" method="post">

	<input type="hidden" asp-for="ClanId" />

	<div class="form-floating mb-3">
		<input asp-for="Name" class="form-control" id="floatingName" placeholder="Clan name here" />
		<label asp-for="Name" for="floatingName">Clan Name</label>
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>

	<div class="form-floating mb-3">
		<input asp-for="Description" class="form-control" id="floatingDesc" placeholder="Description goes here"/>
		<label asp-for="Description" for="floatingDesc">Description</label>
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>

	<button class="btn btn-primary" type="submit">Save</button>

</form>



@section Scripts {
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
